APP_ENV=production
APP_DEBUG=false
APP_URL=https://<%= node['ec2']['public_hostname'].empty? ? node['ec2']['public_ipv4'] : node['ec2']['public_hostname'] %>
APP_KEY=

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_DATABASE=cachet
DB_USERNAME=root
DB_PASSWORD=<%= node['ec2']['instance_id'] %>

CACHE_DRIVER=apc
SESSION_DRIVER=apc
QUEUE_DRIVER=sync
CACHET_EMOJI=false

MAIL_DRIVER=smtp
MAIL_HOST=127.0.0.1
MAIL_PORT=25
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ADDRESS=cachet@<%= node['ec2']['public_hostname'].empty? ? node[:hostname] : node['ec2']['public_hostname'] %>
MAIL_NAME=Cachet
MAIL_ENCRYPTION=null

REDIS_HOST=null
REDIS_DATABASE=null
REDIS_PORT=null

GITHUB_TOKEN=null
