APP_ENV=production
APP_DEBUG=false
APP_URL=https://<%= node[:ec2][:public_hostname] || node[:ec2][:public_ipv4] %>
APP_KEY=

DB_DRIVER=mysql
DB_HOST=127.0.0.1
DB_DATABASE=cachet
DB_USERNAME=root
DB_PASSWORD=<%= node[:ec2][:instance_id] %>

CACHE_DRIVER=apc
SESSION_DRIVER=apc
QUEUE_DRIVER=sync
CACHET_EMOJI=false

MAIL_DRIVER=sendmail
MAIL_HOST=null
MAIL_PORT=null
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ADDRESS=cachet@<%= node[:ec2][:public_hostname] || 'cachet.example.com' %>
MAIL_NAME=Cachet
MAIL_ENCRYPTION=null

REDIS_HOST=null
REDIS_DATABASE=null
REDIS_PORT=null

GITHUB_TOKEN=null
